@{
  ViewBag.Title = "InfoSec Insanity: Sharing the crazy for the betterment of online security";
}
<div class="row text-center">
  <img src="/Content/Images/Logo.svg" alt="Logo" />
  <h1>InfoSec Insanity</h1>
  <h2>Follow <a href="https://twitter.com/InfoSecInsanity">@@InfoSecInsanity</a></h2>
</div>